@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    background-image: none;
}
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background:  #1C1C1C;
    height: 130vh;;
}
.form-label{
    color: #ffd700;
    font-weight: 500;
}
.form-select {
    max-width: 90%;
    min-width: 150px;
    flex-grow: 1;
}
#datos_butaca div p{
    color: #ffd700;
    text-align: start;
    padding-left: 20%;
}
.contenedor-btn {
    display: flex;                        
    gap: 10px;                           
    align-items: center;                 
}

.contenedor-btn input {
    width: 150px;                         
    font-size: 17px;
    padding: 10px;
}
#contenedor_reserva {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos del contenedor de reserva hacia la izquierda */
    gap: 20px; /* Espacio entre el área de butacas y los tickets */
    width: 100%;
}

#contenedor-butacas {
    display: flex;
    flex-direction: column;
    width: 50%; /* Ocupa el 50% del espacio para las butacas */
}

#contenedor_tickets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: 80%; 
    padding-top: 17px;
}
#datos_butaca div div input{
    flex-direction: row;
    margin-right: 4%;
    width: 22%; 
    font-size: 17px;
    padding: 10px;
}

.consultar{
    border-radius: 8px;
    padding: 1.5rem;
    width: 100%;
    color: #ffd700;
    text-align: center;
    font-family: 'monserrat', sans-serif;
}
#boton_consultar{
    color: #ffd700;
    border: #ffd700 1px solid;
}
#carga_dinamica .form-label {
    color: #ffd700;
    font-weight: 500;
}
#carga_dinamica .form-select {
    min-width: 150px;
    flex-grow: 1;
}


#butacas_cargadas {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: absolute;
    width: 25%;
    gap: 1px;
    padding: 10px;
    background-color: #ffffffd6;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin: 20px 5% ;
    height: max-content;
}
.butaca {
    width: 28px;
    height: 45px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.butaca_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.butaca p {
    position: absolute;
    bottom: 3px; 
    right: 9px;
    font-size: 0.8em;
    color: #151200;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.butaca:hover {
    transform: scale(1.1);
}
.butaca.selected {
    border-radius: 5px;
    transform: scale(1.05);
}
.butaca_ocupada {
    width: 28px;
    height: 45px; 
    position: relative;
}
.butaca_ocupada p {
    position: absolute;
    bottom: 3px; 
    right: 9px; 
    font-size: 0.8em;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.ticket {
    width: 32%; /* Ajustado para que quepan tres tickets por fila */
    height: auto;
    padding: 15px;
    background-color: #fff;
    border: 2px dashed #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.ticket h3 {
    font-weight: 600;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

.ticket p {
    margin: 2px 0;
    font-size: 0.85rem;
    font-family: 'Courier New', Courier, monospace;
}

.ticket .barcode {
    margin-top: 10px;
    border-top: 1px solid #000;
    padding-top: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85rem;
}

.container.active {
    margin-left: 240px; /* Sidebar width */
}
.toast-error{
    padding: 12px;
}