/*CSS LOGIN*/
.loginU {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    align-items: center;
    border: 1px solid black;
    height: 600px;
    width: 500px;
    background-color: gray;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
form{
    
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
.log_in{
    color: #FFFF;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 90px;
    padding: 0px 30px;
}

.labels{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-top: 30px;
}

.inputs{
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    list-style: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

.acceder{
    background: rgb(45, 126, 231);

    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 90px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    color: white;

}

.container{
    margin-left: -35px;
    margin-top: -6px;
}

.pass{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px; 
    border: none;
    padding: 15px 20px; /* Aumentar el padding para más espacio interno */
    margin-bottom: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    width: 410px;
}


.bx{
    font-size: 30px;
    transform: translateX(400px);
    cursor: pointer;
    color: black;
}



.bx {
    font-size: 30px;
    position: absolute; /* Posiciona el icono dentro del contenedor */
    right: 50px; /* Ajusta según sea necesario para la distancia del borde */
    top: 42.5%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar el icono */
    cursor: pointer;
    color: black;
}

